.topnavbar{
     background-color: #121212;
     height: 8vh;
     position: sticky;
     top: 0px;
}
.topnavbar-container{
     width: 70%;
     height: 100%;
     margin: 0px auto;
     align-items: center;
}
.brand{
     color: white;
     font-size: 15px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     align-items: baseline;
}
.brand > h1{
     font-size: 35px;
}
.brand > h4{
     margin-left: 5px;
}
.desktopnav{
     width: 60%;
}
.navlinks > li{
     list-style: none;
}
.navlink > a{
     text-decoration: none;
     color: white;
     font-family: sans-serif;
     font-size: 15px;
     font-weight: 700;
     letter-spacing: 3px;
     padding: 10px;
     border-radius: 5px;
}
.navlink > a:hover{
     background-color: rgba(41, 69, 141, 0.815);
}


.burger-button{
     display: none;
}
.burger-button div{
     width: 23px;
     height: 3px;
     background-color: rgb(240, 236, 240);
     margin: 4px;
     border-radius: 5px;
     transition: all 0.3s ease;
}


@media screen and (max-width: 1200px) {
     .desktopnav{
          width: 80%;
     }
}

@media screen and (max-width: 900px) {
     body{
          overflow-x: hidden;
     }
     .burger-button{
          display: block;
          cursor: pointer;
     }
     .navlinks{
          display: flex;
          flex-direction: column;
          position: absolute;
          right: 0px;
          top: 8vh;
          height: 92vh;
          background-color: #121212;
          width: 50%;
          text-align: center;
          justify-content: space-around;
          transform: translateX(100%);
     }
     .navlink > a{
          padding: 20px 40px;
     }
}